
<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" , initial-scale=1 />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- Custom styles for this template -->
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
    </environment>

    @section Styles {
    }

</head>
<body>
    <div class="jumbotron text-center">
        <h1>CST8359 Tweeter</h1>
    </div>
    <div>
        @RenderBody()
    </div>

    <div class="jumbotron text-center">
        <h1>CST8359 Tweeter</h1>
    </div>
</body>
</html>

